/* Reset CSS в SCSS формате */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}


button,
input,
textarea,
select {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  outline: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}