/* цвета */


$black-700: hsl(0, 0%, 28%);
$black-25: #F4F4F4;

/* шрифт */
$font-size: 20px;
$font-family: 'Manrope',
sans-serif;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;

/* контейнеры */
$desktop: 1440px;
$tablet: 768px;