.flex {
    display: flex;
    gap: 20px;
}

.questionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.questionsList {
    margin-bottom: 30px;
}