@use '../../../app/styles/variables.scss'as *;

.pagination {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 28px;
    width: 223px;
}

.dots {
    padding: 13px 7px;
}

.paginationButton {
    border-radius: $radius-xxs;
    cursor: pointer;
    font-size: $s-font;
    margin: 0 0.125rem;
    min-width: 21px;
    height: 25px;
    padding: 2px 6px;
    transition: all 0.2s ease;
}

.activeButton {
    background-color: $purple-700;
    color: $white-900;
}

.inactiveButton {
    color: $black-700;
}