@use '../../../app/styles/variables.scss'as *;

.h1 {
    font-size: $h1-font-size-mobile;
    line-height: $h1-line-height;

    @media (min-width: $tablet) {
        font-size: $h1-font-size-desktop;
    }
}

.h2 {
    font-size: $h2-font-size-mobile;
    line-height: $h2-line-height;

    @media (min-width: $tablet) {
        font-size: $h2-font-size-desktop;
    }
}

.h3 {
    font-size: $h3-font-size;
    font-weight: $font-weight-400;
}