@use '../../app/styles/variables.scss'as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: $desktop) {
        gap: 20px;
    }
}

.title {
    position: relative;
    padding-left: 16px;

    &::before {
        background-color: $perpule-700;
        border-radius: 50%;
        content: "";
        height: 8px;
        left: 0;
        position: absolute;
        top: 7px;
        width: 8px;
    }
}