@use '../../../../app/styles/variables.scss'as *;

.title {
    position: relative;
    padding-left: 16px;
    width: 100%;

    &::before {
        background-color: $purple-700;
        border-radius: 50%;
        content: "";
        height: 8px;
        left: 0;
        position: absolute;
        top: 7px;
        width: 8px;
    }
}

.acc {
    width: 320px;

    @media (min-width: $tablet) {
        width: 676px;
    }

    @media (min-width: $desktop) {
        width: 764px;
        ;
    }
}



.skeletonWrapper {
    padding: 12px 0;
}